.border {
  border: 1px solid;
}

.border-black {
  border-color: var(--gray-900);
}

.border-blue {
  border-color: var(--blue-500);
}

.rounded {
  border-radius: 1rem;
}

.rounded-sm {
  border-radius: 0.5rem;
}

.rounded-r {
  border-radius: 0 16px 16px 0;
}

.rounded-l {
  border-radius: 16px 0 0 16px;
}

.rounded-full {
  border-radius: 100%;
}